<manifest xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="true" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <application android:allowBackup="true" android:icon="@mipmap/main" android:roundIcon="@mipmap/main_round" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/ArTheme">
        <meta-data android:name="com.google.ar.core" android:value="required" tools:replace="android:value" />
        <activity android:name=".activities.visualizer.LaunchScreenActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".activities.visualizer.VisualizerActivity" android:theme="@style/ArTheme.Visualizer" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" />
        <activity android:name=".activities.visualizer.ARCompassActivity" android:theme="@style/ArTheme.Visualizer" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" />
        <activity android:name=".activities.settings.SettingsActivity" android:exported="false" />
        <activity android:name=".activities.settings.ProjectTeamActivity" android:exported="false" />
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true"><meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/></provider>
    </application>
</manifest>
